<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jifalops.localization">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".ServiceThreadApplication$LocalService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="Demos"/>
        <activity
            android:name=".LocalizationActivity"
            android:label="Localization"/>
        <activity
            android:name=".RangingActivity"
            android:label="Ranging"/>
        <activity
            android:name=".RssRangingActivity"
            android:label="RSS Ranging"/>
        <activity
            android:name=".RssSamplingActivity"
            android:label="RSS Sampling"/>
        <activity
            android:name=".SampleCollectionActivity"
            android:label="Sample Collection"/>
        <activity
            android:name=".TofRangingActivity"
            android:label="TOF Ranging"/>
        <activity
            android:name=".TofSamplingActivity"
            android:label="TOF Sampling"/>

        <activity
            android:name=".bluetooth.BtBeaconDemoActivity"
            android:label="Bluetooth Beaconing"/>
        <activity
            android:name=".bluetooth.BtleBeaconDemoActivity"
            android:label="Bluetooth LE Beaconing"/>

        <activity
            android:name=".wifi.WifiScannerDemoActivity"
            android:label="WiFi Scanner"/>
    </application>

</manifest>